#nameContent {
	text-align: center;
	padding: 25%;
	background-color: red;
}
body {
	color: white;
}
h1 {
	font-size: 4em;
}
hr {
	width: 450px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}